@import "../utils";

.hero__container {
    @extend .flex--center;

    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 94vh;
    padding: 0 6rem;
    color: #ffffffde;

    .hero__title {
        @extend .flex, .font__acorn;
        justify-content: space-between;
    }
}
