@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "./utils";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    color: #f5f5f5;
    background: linear-gradient(to bottom, #e93622, #111111);
    background-repeat: no-repeat;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" -1;

    overflow-x: hidden;
}

h1 {
    font-size: 2.2rem;
}

hr {
    border: none;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.2);
}

strong {
    color: #8aa6f3;
}

footer {
    display: flex;
    justify-content: space-between;

    margin-top: 16vh;
    padding: 2rem 6rem 3rem;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);

    border-top: 1px solid #ffffff41;

    ul {
        list-style: none;
    }

    .footer__link {
        transition: 0.2s;
        color: #e9e9e9a8;
        text-decoration: none;

        &:hover {
            color: #fc8383e7;
            text-transform: capitalize;
            letter-spacing: 4px;
        }
    }
}

.tag {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;

    margin-left: 6px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px rgba(253, 51, 51, 0.8);
}

.card {
    width: calc(1rem - 100px);
    height: fit-content;
    min-width: 20rem;

    background-color: rgba(32, 32, 32, 0.4);
    backdrop-filter: blur(8px);

    border-radius: 32px;
    border-bottom: 1px solid #ffffff41;

    overflow: hidden;

    img {
        width: 100%;
    }

    &__header {
        width: auto;

        padding: 1rem 2rem;
        text-align: right;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        h1 {
            @extend .font__acorn;
            color: #ffffffe8;
            font-size: 2rem;
        }

        p {
            @extend .font__gt;
            color: #ec922a;
            font-weight: 700;
            font-size: small;

            text-transform: uppercase;
            letter-spacing: 4px;

            margin-bottom: 8px;
        }
    }

    &__footer {
        @extend .flex--center;
        width: auto;
        height: 3.5rem;

        a {
            @extend .flex--center;

            width: 100%;
            height: 100%;

            transition: box-shadow 0.4s;

            color: #ffffffa9;
            text-decoration: none;

            border-top: 1px solid #ffffff10;

            &:hover {
                color: #fff;
                background: #ffffff15;
            }
        }

        a + a {
            border-left: 1px solid #ffffff10;
        }
    }
}

.container {
    padding: 0 6rem;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 3rem 2rem 2rem;
        gap: 48px;
        flex-direction: column;
    }
}
